<kae-dashboard-header [mainHeader]="'Erstellen'" [subHeader]="'Aufgaben'"></kae-dashboard-header>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Neue Aufgabe</h5>
        <hr />
        <form (ngSubmit)="onSubmit(newTaskForm)" #newTaskForm="ngForm">
          <div class="form-group row">
            <label for="title" class="col-sm-3 col-form-label">Title</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" id="title" [(ngModel)]="template.title" name="title">
            </div>
          </div>
          <div class="form-group row">
            <label for="priority" class="col-sm-3">Priorität</label>
            <div class="col-sm-9">
              <select class="form-control form-control-sm" id="priority" [(ngModel)]="template.priority" name="priority">
                <option value="1">Niedrig</option>
                <option value="2">Normal</option>
                <option value="3">Hoch</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-sm-3">Beschreibung</label>
            <div class="col-sm-9">
              <textarea class="form-control form-control-sm" id="description" name="description" [(ngModel)]="template.description" rows="5"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <button type="submit" class="btn btn-primary">Erstellen</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <kae-task-template-card (templateClicked)="templateClicked($event)" [taskTemplates]="taskTemplates$ | async"></kae-task-template-card>
  </div>
</div>
