<div class="card">
  <div class="card-body">
    <h5 class="card-title">Vorlagen</h5>
    <hr />
    <ul class="template-list">
      <li *ngFor="let template of taskTemplates">
        <a (click)="onTemplateClicked(template)">{{ template.title }}</a>
      </li>
    </ul>
  </div>
</div>