<div class="container-fluid h-100">
  <div class="row h-75 justify-content-center align-items-center">
    <form class="login-form" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-sm" ngModel name="email" id="staticEmail" value="email@example.com">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control form-control-sm" ngModel name="password" id="inputPassword">
        </div>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary mb-2">Login</button>
      </div>
    </form>
  </div>
</div>