<kae-navbar *ngIf="isAuthenticated$ | async"></kae-navbar>

<div class="container-fluid h-100">
  <div class="content-wrapper h-100">
    <kae-sidebar *ngIf="isAuthenticated$ | async"></kae-sidebar>
    <div class="main-content h-100">
      <div class="container-fluid h-100">
        <div class="row h-100">
          <div class="col-md-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>