<li class="main-nav-item">
  <span class="main-nav-item-text-wrapper" (click)="onCaptionClicked()">
    <span class="main-nav-item-text">{{menuItem.caption}}</span>
    <span *ngIf="!isActive">
      <i class="material-icons">keyboard_arrow_down</i>
    </span>
    <span *ngIf="isActive">
      <i class="material-icons">keyboard_arrow_up</i>
    </span>
  </span>
  <ul class="sub-nav" [@menuActive]="isActive">
    <li class="sub-nav-item" *ngFor="let subNavItem of menuItem.subNavItems">
      <a routerLink="{{ menuItem.baseRoute }}/{{ subNavItem.route }}">
        <span class="sub-nav-item-text">
          <span>{{ subNavItem.caption }}</span>
        </span>
      </a>
    </li>
  </ul>
</li>