$sidebar-link-hover-bg: rgba(0, 198, 238, 0.25);
.main-nav-item {
  list-style-type: none;
  display: block;
  .main-nav-item-text-wrapper {
    display: flex;
    justify-content: space-between;
    .main-nav-item-text {
      display: block;
      text-transform: uppercase;
      color: #444;
      font-family: 'Roboto', sans-serif;
      font-size: 0.9rem;
      padding-left: 55px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 80px;
      transition: all 0.5s;
    }
    .material-icons {
      font-size: 1rem;
      top: 5px;
      right: 5px;
      position: relative;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .sub-nav {
    margin: 0;
    padding: 0;
    .sub-nav-item {
      list-style-type: none;
      .sub-nav-item-text {
        display: flex;
        justify-content: space-between;
        color: #666;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        padding: 5px 80px 5px 75px;
        transition: all 0.5s;
        &:hover {
          cursor: pointer;
          background-color: $sidebar-link-hover-bg;
          box-shadow: inset 0 0 0 1px darken($sidebar-link-hover-bg, 15%);
        }
      }
    }
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}