$sidebar-link-hover-bg: rgba(0, 198, 238, 0.25);
#sidebar {
  padding-top: 15px;
  height: 100%;
  box-shadow: inset -1px 0 0 0 lighten(#cacaca, 15%);
  .sidebar-nav {
    margin: 0;
    padding: 0;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}