/* You can add global styles to this file, and also import other style files */

// Customize bootstrap variables
$enable-rounded: false;
// Import robot font
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');
// Import bootstrap
@import '~bootstrap/scss/bootstrap';
// Import Material Design Icons
@import '~material-design-icons/iconfont/material-icons.css';
html,
body {
  height: 100%;
  width: 100%;
}