<!-- <li class="sub-nav-item" *ngFor="let subNavItem of menuItem.subNavItems">
    <a routerLink="{{ menuItem.baseRoute }}/{{ subNavItem.route }}">
      <span class="sub-nav-item-text">
        <span>{{ subNavItem.caption }}</span>
      </span>
    </a>
  </li> -->